<nav class="plenty-menu menu-bottom">
    <div class="plenty-icon-wrap plenty-icon-effect-7 plenty-icon-effect-7b">
        <a href="#/mobile-apps" class="plenty-icon icon-mobile" ui-sref="mobile-apps" ui-sref-active="selected">Mobile Applications</a>
        <a href="#/software" class="plenty-icon icon-laptop" ui-sref="software" ui-sref-active="selected">Software</a>
        <a href="#/home" href="#/home" ui-sref="home" ui-sref-active="selected" class="plenty-icon icon-code">Home</a>
        <a href="#/web-pages/web-sites" class="plenty-icon icon-earth" ui-sref="webpages.item" ui-sref-active="selected">Web Sites</a>
        <a href="#/contact-us" class="plenty-icon icon-bubbles" ui-sref="contact-us" ui-sref-active="selected">Contact</a>
    </div>
</nav>