<div data-ng-controller="Home as vm" class="content-well">
    <h1 class="plenty-box-title">{{vm.title}}</h1>
    <article class='plenty-box-content'>
        <div class="info-snippet">
            <div class="icon-text icon-happy2"></div>
            <div class="info-snippet-content">
                <h2>We're so glad to have you here!</h2>
                <p>
                    In Plenty Code we believe in your idea, if you believe in it!<br />
                    Let us be part of the process and let's see it to become a successful project.
                </p>
            </div>
        </div>
        <div class="info-snippet">
            <div class="icon-text  icon-wink2"></div>
            <div class="info-snippet-content">
                <h2>What we do?</h2>
                <p>
                    We want to help you to develop ideas, to create interesting and useful things!<br />
                    We design and make practice solutions, with our best tool we have: creativity, quality and fulfillment.
                </p>
                <a href="#contact-us">Learn more</a>
            </div>
        </div>

        <div class="info-snippet">
            <div class="icon-text  icon-cool2"></div>
            <div class="info-snippet-content">
                <h2>Why you should work with us?</h2>
                <p>
                    We have the knowledge, the experience and the will enough to help you with that project, idea or business you have, to become a real thing.<br />
                    We don't improvise, we innovate and we give good results.
                </p>
                <a href="#contact-us">Learn more</a>
            </div>
        </div>
    </article> 
</div>

