<div class="content-well">
    <div id="tabs" class="tabs" >
        <nav>
            <ul>
                <li class="tab-current"><a href="#web-pages/section-sites" class="icon-earth"><span>Web Sites</span></a></li>
                <li class=""><a href="#web-pages/section-design" class="icon-paint-format"><span>Design</span></a></li>
                <li class=""><a href="#web-pages/section-usability" class="icon-accessibility"><span>Usability</span></a></li>
                <!--<li class=""><a href="#web-pages/section-SEO" class="icon-google"><span>SEO</span></a></li>-->
            </ul>
        </nav>
        <div class="content">
            <section id="section-sites" class="content-current">
                <div class="pc-box">
                    <div class="pc-box-icon icon-thumbs-up">
                    </div>
                    <h4>Presentation counts!</h4>
                    <p>
                        A website is your cover letter and your company’s,
                        it is where you let the world know what you do, it is the best opportunity to show everyone the great product you're offering.
                    </p>
                </div>
                <div class="pc-box">
                    <div class="pc-box-icon icon-users">
                    </div>
                    <h4>Directed to your clients!</h4>
                    <p>
                        As users we always want to get what we are looking for right away, let your clients feel comfortable in your website, that the product or information you have can be what they were looking for

                    </p>
                </div>
                <div class="clear-fix"></div>
                <nav class="bottom-icons">
                    <div class="bottom-icons-wrap">
                        <a class="icon-html52">
                            <span class="tooltip">
                                With all the possibilities that HTML5 and CSS3 offer to us, we are able to create sites  more Interactive, animated, accessible,  with nice effects, animations, modern web pages, fast and adaptable to any platform existing today.
                            </span>
                        </a>

                        <a class="icon-file-css">
                            <span class="tooltip">
                                Optimized code that follows the standards and best practices taking advance of the different platforms, with a reduced rate of errors, easy to maintain and scale.
                            </span>
                        </a>

                        <a class="icon-wordpress">
                            <span class="tooltip">
                                With Content Management Systems (CMS), keep your site updated with news and new products won’t be hard task anymore, you can chose a CMS to do the job,
                                you won’t even need programing skill or any other expert person to manage your own page!
                            </span>
                        </a>

                        <!--<a class="icon-IE ">
                            <span class="tooltip">
                                Sitios web que funcionan y se ven bien en todos los exploradores, Chrome, Firefox, Internet Explorer, Safari, etc.
                            </span>
                        </a>-->

                        <a class="icon-cloud">
                            <span class="tooltip">
                                No need to worry about your applications  infrastructure, with Cloud Services you can manage everything through the Internet.
                            </span>
                        </a>

                        <a class="icon-cart3">
                            <span class="tooltip">
                                E-commerce is the way you can offer your products to sell them online, to have them organized and easy to promote them.
                            </span>
                        </a>

                        <a class="icon-stack">
                            <span class="tooltip">
                                Intranets, internal sites to administration for your company, improve your employees communication, reports, graphics or any other internal calculation you may need to do securely
                            </span>
                        </a>
                    </div>
                </nav>
            </section>
            <section id="section-design">

                <div class="pc-box">
                    <div class="pc-box-icon  icon-pencil">
                    </div>
                    <h4>Original, modern and creative designs</h4>
                    <p>
                        In PlentyCode we want to help you to build your online  presence for your company, that fits with your target audience.
                        Your site will have a professional design , modern, unique, elegant and easy to use.
                    </p>
                </div>
                <div class="pc-box">
                    <div class="pc-box-icon icon-mobile2">
                    </div>
                    <h4>Responsive web design</h4>
                    <p>
                        Your website will look great in any mobile platform or tablet, here we use Responsive web design, the content of your site will adapt to any device screen used by your users.
                    </p>
                </div>
            </section>
            <section id="section-usability">
                <div class="pc-box">
                    <div class="pc-box-icon  icon-target">
                    </div>
                    <h4>Direct and with no distractions</h4>
                    <p>
                        Your site content will be structured and distributed in a way that users can access easily so they can find quickly what they looking for, no distracting elements to ensure a good experience, satisfied user will return for sure.
                    </p>
                </div>
                <div class="pc-box">
                    <div class="pc-box-icon  icon-cog2">
                    </div>
                    <h4>Easy to manage</h4>
                    <p>
                        Manage to site will be as easy as to update your Twitter status, with a friendly interface you won’t need an instructions manual to use its functions.
                    </p>
                </div>
            </section>
            <!--<section id="section-SEO">
                <div class="pc-box">
                    <div class="pc-box-icon icon-search">
                    </div>
                    <h4>Search Engine Optimization</h4>
                    <p>
                        All major search engines such as Google, Bing and Yahoo have primary search results, where web pages and other content such as videos or local listings are shown and ranked based on what the search engine considers most relevant to users.
    
                    </p>
                </div>
                <div class="pc-box">
                    <div class="pc-box-icon icon-bullhorn">
                    </div>
                    <h4>Show your web to the world</h4>
                    <p>
                        In PlentyCode te ayudamos a optimizar tu sitio web y mantenerlo en las primeras posiciones de las búsquedas relacionadas con los producto e información que manejas, anuncios y campañas en redes sociales.
                    </p>
                </div>
            </section>-->
        </div><!-- /content -->
    </div>
</div>
