<div class="content-well"  data-ng-controller="WebPages as vm" >

    <div id="tabs" class="tabs" >
        {{selectedItem}}
        <nav>

            <ul>         
                <li  ng-repeat="item in tabList" ng-class="{'tab-current': item.selected}">
                    <a 
                        class="icon-{{item.icon}}"
                        ng-href="#web-pages/{{item.url}}"
                        ><span>{{item.display}}</span></a>
                </li>
            </ul>
            <!--                <li class="tab-current"><a href="#web-pages/web-sites" ><span>Web Sites</span></a></li>
                            <li class=""><a href="#web-pages/design" class="icon-paint-format"><span>Design</span></a></li>
                            <li class=""><a href="#web-pages/usability" class="icon-accessibility"><span>Usability</span></a></li>
                            <li class=""><a href="#web-pages/section-SEO" class="icon-google"><span>SEO</span></a></li>
                        </ul>-->
        </nav>
        <div class="content" data-ui-view >

        </div><!-- /content -->
    </div>
</div>
