<div class="plenty-social fade">
    <ul class="social">
        <li>
            <a class="fb" href="http://facebook.com/PlentyCode/" target="_blank"><span class="icon-facebook"></span></a>
        </li>
        <li>
            <a class="tw" href="https://twitter.com/Plenty_Code/" target="_blank"><span class="icon-twitter"></span></a></li>
        <li>
            <a class="in" href="https://www.linkedin.com/company/plentycode" target="_blank"><span class="icon-linkedin"></span></a></li>
    </ul>
</div>
