.mobile .plenty-logo {
}

.mobile .logo-code {
    font-size: 10em;
    letter-spacing: -15px;
}

.mobile .logo-to-corner {
    top: 100px;
    left: 50%;
}

.mobile .plenty-info-box {
    top: -100%;
    right: 0;
    left: 0;
}

    .mobile .plenty-info-box.open {
        top: 150px;
        left: 5px;
        width: 97%;
        height: 60%;
        font-size: 12px;
    }

.mobile .plenty-box-title {
    margin: 5px 10px;
}

.mobile .menu-bottom.open {
    height: 13%;
}

.mobile .plenty-icon-wrap {
    padding: 0em 0 1em;
}

.mobile .plenty-icon {
    width: 40px;
    height: 40px;
}

    .mobile .plenty-icon:before {
        font-size: 24px;
        line-height: 40px;
    }

.mobile .plenty-icon-effect-7 .plenty-icon {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}

    .mobile .plenty-icon-effect-7 .plenty-icon:hover, .plenty-icon.selected {
        box-shadow: 0 0 0 2px rgba(255,255,255,1);
    }

.mobile .plenty-box-content {
    margin: 4px 5px;
    padding: 5px;
}

.mobile ul.social li a {
    height: 35px;
    line-height: 37px;
    margin-right: 9px;
    width: 35px;
    font-size: 1em;
}

.mobile .plenty-form input, .plenty-form textarea, .plenty-form select {
    width: 91%;
    border: 1px solid #fff;
}

    .mobile .plenty-form input:focus, .plenty-form textarea:focus, .plenty-form label:active + input, .plenty-form label:active + textarea {
        border: 1px solid #10689a;
    }
