
/*Responsive*/


@media (max-height: 450px) {
    .plenty-logo {
        top: 35%;
    }

    .logo-to-corner {
        top: 95px;
    }

    .plenty-info-box.open {
        height: 78%;
        top: 1px;
    }

    .plenty-box-content {
        height: 73%;
        font-size: 11px;
    }

    .plenty-form textarea {
        height: 155px;
    }

    .menu-bottom.open {
        height: 70px;
    }

    .plenty-icon {
        width: 40px;
        height: 40px;
    }

        .plenty-icon:before {
            font-size: 24px;
            line-height: 40px;
        }

    .plenty-icon-effect-7 .plenty-icon {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    }

        .plenty-icon-effect-7 .plenty-icon:hover, .plenty-icon.selected {
            box-shadow: 0 0 0 2px rgba(255,255,255,1);
        }

    .plenty-form input, .plenty-form textarea, .plenty-form select {
        width: 91%;
        border: 1px solid #fff;
    }

        .plenty-form input:focus, .plenty-form textarea:focus, .plenty-form label:active + input, .plenty-form label:active + textarea {
            border: 1px solid #10689a;
        }

    .plenty-form textarea {
        height: 40px;
    }
}

@media (min-height: 451px) and (max-height: 800px) {

    .logo-to-corner {
        top: 100px;
    }

    .plenty-info-box.open {
        top: 2%;
        height: 80%;
        right: 5%;
    }

    .plenty-box-content {
        height: 85%;
    }

    .menu-bottom.open {
        height: 95px;
        bottom: 1%;
    }

    .plenty-icon {
        width: 65px;
        height: 65px;
    }

        .plenty-icon:before {
            font-size: 35px;
            line-height: 65px;
        }

    .info-snippet {
        margin-bottom: 45px;
    }

    .plenty-form textarea {
        height: 200px;
    }

    .info-snippet {
        margin-bottom: 4%;
    }
        .info-snippet:first-child {
        margin-top: 5px;
    }
        .pc-box-icon{
            padding: 0.15em .2em;
        }
}

@media (min-height: 801px) {
    .plenty-info-box.open {
        height: 70%;
    }

    .plenty-box-content {
        height: 90%;
    }

    .plenty-form textarea {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .plenty-logo {
        font-size: 0.7em;
    }

    .logo-code {
        font-size: 10em;
        letter-spacing: -15px;
    }

    .logo-to-corner {
        top: 100px;
        left: 50%;
    }

    .plenty-info-box {
        top: -100%;
        right: 0;
        left: 0;
    }

        .plenty-info-box.open {
            top: 150px;
            left: 5px;
            width: 97%;
            height: 60%;
            font-size: 12px;
        }

    .plenty-box-title {
        margin: 5px 10px;
    }

    .menu-bottom.open {
        height: 13%;
    }

    .plenty-icon-wrap {
        padding: 0em 0 1em;
    }

    .plenty-icon {
        width: 40px;
        height: 40px;
    }

        .plenty-icon:before {
            font-size: 24px;
            line-height: 40px;
        }

    .plenty-icon-effect-7 .plenty-icon {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    }

        .plenty-icon-effect-7 .plenty-icon:hover, .plenty-icon.selected {
            box-shadow: 0 0 0 2px rgba(255,255,255,1);
        }

    .plenty-box-content {
        margin: 4px 5px;
        padding: 5px;
    }

    ul.social li a {
        height: 35px;
        line-height: 37px;
        margin-right: 9px;
        width: 35px;
        font-size: 1em;
    }

    .plenty-form input, .plenty-form textarea, .plenty-form select {
        width: 91%;
        border: 1px solid #fff;
    }

        .plenty-form input:focus, .plenty-form textarea:focus, .plenty-form label:active + input, .plenty-form label:active + textarea {
            border: 1px solid #10689a;
        }
}



@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
