body {
    overflow: hidden;
    background: #333;
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.wrapper {
    background: url('../img/bg_forest.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fotolia_34843570_bg.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.fotolia_34843570_bg.jpg', sizingMethod='scale');
    height: 101%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.clear-fix {
    float: none;
    clear: both;
    display: block;
}

.content {
    max-width: 1230px;
    /*margin: 0 auto;*/
}

.plenty-logo {
    position: fixed;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    width: 290px;
    height: 250px;
    text-shadow: 1px 2px 3px #313131;
    cursor: pointer;
    font-weight: normal;
}

.logo-code {
    font-size: 12em;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    letter-spacing: -25px;
}

.logo-lt {
    color: #BF2638;
    font-weight: bold;
}

.logo-slash {
    color: #1378BE;
    font-weight: bold;
}

.logo-gt {
    color: #46B75A;
    font-weight: bold;
}

.logo-text {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    margin-top: -0.6em;
}

.pc-text {
}

    .pc-text .logo-slash {
        margin-right: -5px;
    }

.logo_light {
    font-weight: 300;
}

.logo-to-corner {
    top: 120px;
    left: 13%;
    font-size: 80%;
}

/*information box*/
.plenty-info-box {
    background: rgba(61, 138, 247, 0.9);
    position: fixed;
    height: 63%;
    width: 60%;
    right: -80%;
    top: 5%;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.3);
    border-radius: 2px;
    max-width: 1000px;
}

    .plenty-info-box.open {
        right: 15%;
    }

.plenty-box-title {
    font-size: 2.5em;
    color: #fff;
    margin: 10px 20px;
    text-shadow: 1px 0px 1px #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight:normal;
}

.plenty-box-content {
    height: 82%;
    margin: 10px 20px;
    padding: 1px 20px;
    overflow-y: auto;
    line-height: 1.2em;
    color: #fff;
}

    .plenty-box-content b {
    }

    .plenty-box-content p {
        margin: 15px 0;
        padding-left: 20px;
        font-weight: 300;
    }

    .plenty-box-content ul {
        margin: 2px 0;
    }

    .plenty-box-content .icon-text {
        font-size: 5em;
        float: left;
        margin: 10px 20px 3px 0;
        color: rgba(255,255,255,0.9);
    }

.info-snippet {
    float: none;
    clear: both;
    margin-bottom: 8%;
    height: 100px;
}

    .info-snippet:first-child {
        margin-top: 30px;
    }

    .info-snippet:last-child {
        margin-bottom: 5px;
    }

.info-snippet-content {
}

    .info-snippet-content h2 {
        margin-bottom: 2px;
        font-size: 1.8em;
        font-weight: 300;
    }

    .info-snippet-content p {
        margin: 10px 0;
    }

    .info-snippet-content a {
        color: #00C8F8;
        text-decoration: none;
        float: right;
        margin-right: 25px;
    }

        .info-snippet-content a:hover {
            color: #fff;
        }

.pc-box {
    float: left;
    width: 40%;
    margin-right: 10%;
}

    .pc-box:last-child {
        margin-right: 0;
    }

.pc-box-icon {
    font-size: 5em;
    text-align: center;
    border: 1px solid;
    padding: 0.4em 0.2em;
}

.pc-box p {
    padding-left: 0;
    margin: 0;
    line-height: 1.3;
}

.pc-box h4 {
    margin: 0.75em 0 0.5em;
    font-size: 1.2em;
}
/*menu botom*/
.plenty-menu {
    position: absolute;
}

.menu-bottom {
    bottom: -65%;
    width: 100%;
    height: 123px;
}

    .menu-bottom.open {
        bottom: 3%;
    }


/*forms*/
.plenty-form {
    margin-top: 5px;
}

    .plenty-form .fields {
        margin-bottom: 10px;
    }

    .plenty-form label {
        display: block;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .plenty-form input, .plenty-form textarea {
        border: 1px solid #fff;
    }

    .plenty-form input, .plenty-form textarea, .plenty-form select {
        line-height: 1.5;
        font-size: 1em;
        padding: 5px 10px;
        color: #fff;
        display: block;
        width: 95%;
        background: transparent;
        font-family: "Lato",sans-serif;
    }

        .plenty-form input:focus, .plenty-form textarea:focus {
            background: rgba(19,120,190,0.2);
        }

        .plenty-form input.error, .plenty-form textarea.error {
            border-color: rgba(191,38,56,0.5);
        }


.form-message {
    float: left;
    width: 75%;
    text-align: left;
}

    .form-message.failed {
        color: #BF2638;
    }

.fields-bottom {
    text-align: right;
    width: 97%;
}

.plenty-form .submit-info {
    background: rgba(19,120,190,0);
    border: 1px solid rgba(255,255,255,1);
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
}

    .plenty-form .submit-info:hover, .plenty-form .submit-info:focus {
        border-color: rgba(255,255,255,0.3);
    }

.plenty-form input:focus,
.plenty-form textarea:focus,
.plenty-form label:active + input,
.plenty-form label:active + textarea {
    outline: none;
    border-color: rgba(255,255,255,0.3);
}

.plenty-form select:focus {
    outline: none;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}
/* Transitions */
.plenty-menu, .plenty-logo, .plenty-info-box, .plenty-social {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*Icons*/

.plenty-social {
    position: absolute;
    bottom: 20px;
    right: 0;
}

    .plenty-social.hidden {
        z-index: 1;
    }

        .plenty-social.hidden a {
            opacity: 0.4;
        }

ul.social li {
    list-style: none;
    float: left;
}

    ul.social li a {
        background: transparent;
        border: 2px solid rgba(239, 239, 239, 0.50);
        border-radius: 100%;
        height: 48px;
        line-height: 51px;
        margin-right: 10px;
        text-align: center;
        transition: all 0.3s ease-out 0s;
        width: 48px;
        cursor: pointer;
        float: left;
        text-decoration: none;
        color: #fff;
        font-size: 1.3em;
    }

        ul.social li a:hover {
            border: 2px solid #fff;
            opacity: 1;
        }

.social .fb:hover {
    background: rgba(19,120,190,0.5);
}

.social .in:hover {
    background: rgba(19, 120, 190, 0.50);
}

.social .tw:hover {
    background: rgba(86, 211, 138, 0.50);
}

.plenty-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3em;
}

.plenty-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 3%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: none;
}

    .plenty-icon:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .plenty-icon:before {
        font-family: 'icomoon';
        speak: none;
        font-size: 48px;
        line-height: 90px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
    }



/* Effect 7 */
.plenty-icon-effect-7 .plenty-icon {
    box-shadow: 0 0 0 4px rgba(255,255,255,0.5);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

    .plenty-icon-effect-7 .plenty-icon:hover, .plenty-icon.selected {
        color: #fff;
        box-shadow: 0 0 0 4px rgba(255,255,255,1);
    }

.plenty-icon.selected {
    background: rgba(191,38,56,0.5);
}

.plenty-icon-effect-7 .plenty-icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
}

/* Effect 7b */
.plenty-icon-effect-7b .plenty-icon:after {
    box-shadow: 3px 3px rgba(255,255,255,1);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.plenty-icon-effect-7b .plenty-icon:hover:after, .plenty-icon.selected::after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.plenty-icon-effect-7b .plenty-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.plenty-icon-effect-7b .plenty-icon:hover:before, .plenty-icon.selected:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


.fade {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes fade {
    0%, 1% {
        opacity: 0;
    }

    0%, 100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0%, 1% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@-o-keyframes fade {
    0%, 1% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes fade {
    0%, 1% {
        opacity: 0;
    }

    0%, 100% {
        opacity: 1;
    }
}

.loading {
    background: rgba(0, 50, 250, 0);
    /*margin: 5em auto 0 auto;*/
    width: 5em;
    height: 5em;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    animation-name: rotate;
    position: absolute;
    left: 40%;
    top: 30%;
}

.plenty-logo .loading {
}

.loading,
.loading:before,
.loading:after {
    border-radius: 100%;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.plenty-logo .loading,
.plenty-logo .loading:before,
.plenty-logo .loading:after {
    border-radius: 100%;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.loading:before,
.loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.loading:before {
    background: rgba(200, 250, 100, 0);
    -webkit-animation-name: ring;
    -moz-animation-name: ring;
    -ms-animation-name: ring;
    animation-name: ring;
}

.loading:after {
    background: rgba(250, 0, 200, 0);
    -webkit-animation-name: ring2;
    -moz-animation-name: ring2;
    -ms-animation-name: ring2;
    animation-name: ring2;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    85%, 100% {
        -webkit-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    85%, 100% {
        -moz-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-ms-keyframes rotate {
    0% {
        -ms-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    85%, 100% {
        -ms-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    85%, 100% {
        transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: scaleX(0.1) scaleY(0.5);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    75%, 100% {
        -webkit-transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: scaleX(0.1) scaleY(0.5);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    75%, 100% {
        -moz-transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-ms-keyframes ring {
    0% {
        -ms-transform: scaleX(0.1) scaleY(0.5);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    75%, 100% {
        -ms-transform: scalex(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@keyframes ring {
    0% {
        transform: scaleX(0.1) scaleY(0.5);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    75%, 100% {
        transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-webkit-keyframes ring2 {
    0% {
        -webkit-transform: scaleX(0.5) scaleY(0.1);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    65%, 100% {
        -webkit-transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-moz-keyframes ring2 {
    0% {
        -moz-transform: scaleX(0.5) scaleY(0.1);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    65%, 100% {
        -moz-transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@-ms-keyframes ring2 {
    0% {
        -ms-transform: scaleX(0.5) scaleY(0.1);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    65%, 100% {
        -ms-transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}

@keyframes ring2 {
    0% {
        transform: scaleX(0.5) scaleY(0.1);
        box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
    }

    65%, 100% {
        transform: scaleX(2) scaleY(2.1);
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
    }
}
