<section id="section-usability">
    <div class="pc-box">
        <div class="pc-box-icon  icon-target">
        </div>
        <h4>Direct and with no distractions</h4>
        <p>
            Your site content will be structured and distributed in a way that users can access easily so they can find quickly what they looking for, no distracting elements to ensure a good experience, satisfied user will return for sure.
        </p>
    </div>
    <div class="pc-box">
        <div class="pc-box-icon  icon-cog2">
        </div>
        <h4>Easy to manage</h4>
        <p>
            Manage to site will be as easy as to update your Twitter status, with a friendly interface you won’t need an instructions manual to use its functions.
        </p>
    </div>
</section>