<section id="section-design">

    <div class="pc-box">
        <div class="pc-box-icon  icon-pencil">
        </div>
        <h4>Original, modern and creative designs</h4>
        <p>
            In PlentyCode we want to help you to build your online  presence for your company, that fits with your target audience.
            Your site will have a professional design , modern, unique, elegant and easy to use.
        </p>
    </div>
    <div class="pc-box">
        <div class="pc-box-icon icon-mobile2">
        </div>
        <h4>Responsive web design</h4>
        <p>
            Your website will look great in any mobile platform or tablet, here we use Responsive web design, the content of your site will adapt to any device screen used by your users.
        </p>
    </div>
</section>