<section id="section-sites" class="content-current">
    <div class="pc-box">
        <div class="pc-box-icon icon-thumbs-up">
        </div>
        <h4>Presentation counts!</h4>
        <p>
            A website is your cover letter and your company’s,
            it is where you let the world know what you do, it is the best opportunity to show everyone the great product you're offering.
        </p>
    </div>
    <div class="pc-box">
        <div class="pc-box-icon icon-users">
        </div>
        <h4>Directed to your clients!</h4>
        <p>
            As users we always want to get what we are looking for right away, let your clients feel comfortable in your website, that the product or information you have can be what they were looking for

        </p>
    </div>
    <div class="clear-fix"></div>
    <nav class="bottom-icons">
        <div class="bottom-icons-wrap">
            <a class="icon-html52">
                <span class="tooltip">
                    With all the possibilities that HTML5 and CSS3 offer to us, we are able to create sites  more Interactive, animated, accessible,  with nice effects, animations, modern web pages, fast and adaptable to any platform existing today.
                </span>
            </a>

            <a class="icon-file-css">
                <span class="tooltip">
                    Optimized code that follows the standards and best practices taking advance of the different platforms, with a reduced rate of errors, easy to maintain and scale.
                </span>
            </a>

            <a class="icon-wordpress">
                <span class="tooltip">
                    With Content Management Systems (CMS), keep your site updated with news and new products won’t be hard task anymore, you can chose a CMS to do the job,
                    you won’t even need programing skill or any other expert person to manage your own page!
                </span>
            </a>

            <!--<a class="icon-IE ">
                <span class="tooltip">
                    Sitios web que funcionan y se ven bien en todos los exploradores, Chrome, Firefox, Internet Explorer, Safari, etc.
                </span>
            </a>-->

            <a class="icon-cloud">
                <span class="tooltip">
                    No need to worry about your applications  infrastructure, with Cloud Services you can manage everything through the Internet.
                </span>
            </a>

            <a class="icon-cart3">
                <span class="tooltip">
                    E-commerce is the way you can offer your products to sell them online, to have them organized and easy to promote them.
                </span>
            </a>

            <a class="icon-stack">
                <span class="tooltip">
                    Intranets, internal sites to administration for your company, improve your employees communication, reports, graphics or any other internal calculation you may need to do securely
                </span>
            </a>
        </div>
    </nav>
</section>