
<div class="info-snippet">
    <div class="icon-text icon-happy2"></div>
    <div class="info-snippet-content">
        <h2>Nos alegra mucho tenerte aquí</h2>
        <p>
            En PlentyCode creemos en tu idea, si tú crees en ella!<br />
             Déjanos ser parte del proceso de crecimiento y verla convertirse en un exitoso proyecto!
        </p>
    </div>
</div>
<div class="info-snippet">
    <div class="icon-text  icon-wink2"></div>
    <div class="info-snippet-content">
        <h2>¿Qué hacemos?</h2>
        <p>
            Te ayudamos a desarrollar ideas, a crear cosas interesantes y útiles!<br />
            Diseñamos y creamos soluciones prácticas,
            con las mejores herramientas que contamos: la creatividad, calidad y cumplimiento.
        </p>
        <a href="#contact-us">Conocer más</a>
    </div>
</div>

<div class="info-snippet">
    <div class="icon-text  icon-cool2"></div>
    <div class="info-snippet-content">
        <h2>¿Por qué trabajar con nosotros?</h2>
        <p>
            Contamos con el conocimiento, la experiencia y las ganas suficiente para ayudarte a hacer realidad ese proyecto,  idea o negocio que tienes pensado.<br />
            No improvisamos, innovamos y damos resultados!
            
        </p>
        <a href="#contact-us">Conocer más</a>
    </div>
</div>