<div class="centered-info">

    <h1>
        Software a la medida es la solución personalizada de simplificarte la vida laboral.
    </h1>

    <nav class="centered-icons">
        <div class="centered-box">

            <a class="icon-cogs">
            </a>
            <h4>Agilidad en los procesos</h4>
        </div>
        <div class="centered-box">

            <a class="icon-lock">
            </a>
            <h4>Información segura y confiable</h4>
        </div>

        <div class="centered-box">

            <a class="icon-meter">
            </a>
            <h4>Aumento de la productividad y rentabilidad de su negocio</h4>
        </div>
        <div class="centered-box">

            <a class="icon-bug">
            </a>
            <h4>Disminución de errores y  no pérdida de información</h4>
        </div>
        <div class="centered-box">

            <a class="icon-coin">
            </a>
            <h4>Disminución el costo de mano de obra y tiempo</h4>
        </div>
    </nav>

</div>