<div id="tabs" class="tabs">
    <nav>
        <ul>
            <li class="tab-current"><a href="#web-pages/section-sites" class="icon-earth"><span>Sitios Web</span></a></li>
            <li class=""><a href="#web-pages/section-design" class="icon-paint-format"><span>Diseño</span></a></li>
            <li class=""><a href="#web-pages/section-usability" class="icon-accessibility"><span>Usabilidad</span></a></li>
            <li class=""><a href="#web-pages/section-SEO" class="icon-google"><span>SEO</span></a></li>
        </ul>
    </nav>
    <div class="content">
        <section id="section-sites" class="content-current">
            <div class="pc-box">
                <div class="pc-box-icon icon-thumbs-up">
                </div>
                <h4>La presentación cuenta!</h4>
                <p>Un sitio web es tu carta de presentación y de tu empresa, donde das a conocer tus productos o actividad al mundo, es la mejor oportunidad de mostrar a todos ese buen producto que ofreces.</p>
            </div>
            <div class="pc-box">
                <div class="pc-box-icon icon-users">
                </div>
                <h4>Dirigido a tus clientes!</h4>
                <p>Como usuarios siempre queremos obtener la información y productos que buscamos al instante, permite que tus clientes se sientan a gusto con tu sitio, que el producto o la información que ofreces sea exactamente lo que buscan.</p>
            </div>
            <div class="clear-fix"></div>
            <nav class="bottom-icons">
                <div class="bottom-icons-wrap">
                    <a class="icon-html52">
                        <span class="tooltip">
                            Con las posibilidades que nos ofrecen tecnologías como HTML5 y CSS3 podemos crear webs más accesibles y más interactiva, crear efectos y animaciones combinándolas con Javascript, consiguiendo un efecto mucho más visual y profesional,  mejorando la experiencia de usabilidad por parte del usuario,
                            páginas web modernas, rápidas y adaptables a cualquier plataforma existente hoy en día.
                        </span>
                    </a>

                    <a class="icon-file-css">
                        <span class="tooltip">
                            Código óptimo, que sigue los estándares y buenas prácticas que sacan el mejor provecho de las diferentes plataformas, con número reducido de errores, fácil de mantener y escalar.
                        </span>
                    </a>

                    <a class="icon-wordpress">
                        <span class="tooltip">
                            Con manejadores de contenidos (CMS), mantener tu sitio web actualizado con noticias y nuevos productos no será tarea difícil, puedes elegir un gestor de contenidos para realizar éstas tareas, Wordpress, Joomla, Drupal, etc.
                            No necesitarás conocimientos de programación o una persona experta para gestionar tu página web.
                        </span>
                    </a>

                    <a class="icon-cloud">
                        <span class="tooltip">
                            No need to worry about your applications infrastructure, with Cloud Services you can manage everything through the Internet, it’s a way secure, fast and easy to do it.
                        </span>
                    </a>

                    <a class="icon-cart3">
                        <span class="tooltip">
                            Comercio Online, puedes manejar y ofrecer múltiples productos, tener las categorías que quieras en el mundo del e-commerce con una plataforma robusta, controlada y gestionada por ti.
                        </span>
                    </a>

                    <a class="icon-stack">
                        <span class="tooltip">
                            Intranets, sitios internos y de administración para tu empresa, manejo de la comunicación interna entre empleados, reportes, calculos y demás gestionados con seguridad.
                        </span>
                    </a>
                </div>
            </nav>
        </section>
        <section id="section-design">

            <div class="pc-box">
                <div class="pc-box-icon  icon-pencil">
                </div>
                <h4>Diseños originales, modernos y elegantes</h4>
                <p>
                    En PlentyCode te queremos ayudar a construir la presencia online para tu negocio o empresa, que mejor se adapte a tus necesidades y a tu público objetivo.
                    Tu página contará con un diseño web profesional, moderno, elegante y fácil de usar.
                </p>
            </div>
            <div class="pc-box">
                <div class="pc-box-icon icon-mobile2">
                </div>
                <h4>Diseños optimizados para móviles y tablets</h4>
                <p>
                    Tu sitio web se verá igual de genial en cualquier plataforma móvil o tablet,
                    en  PlentyCode utilizamos diseño web Responsive, el contenido de tu web se adaptará a la pantalla del dispositivo que tus usuarios utilicen para una visualización óptima.
                </p>
            </div>
            <div class="clear-fix"></div>
            <nav class="bottom-icons">
                <div class="bottom-icons-wrap">
                    <a class="icon-image2">
                        <span class="tooltip">
                            Manejo de imagenes y gráficos de una forma original, elegante y lo mejor, que sean representativas con tu producto o actividad.
                        </span>
                    </a>

                    <a class="icon-film">
                        <span class="tooltip">
                            Contenido multimedia bien distribuido, que no fastidia, recarga o ralentiza la experiencia del usuario.
                        </span>
                    </a>

                    <a class="icon-profile">
                        <span class="tooltip">
                            Contenido bien distribuido y fácil de leer y comprender.
                        </span>
                    </a>

                    <a class="icon-tablet">
                        <span class="tooltip">
                            Diseños que se adaptan a los diferentes dispositivos que utilizamos diariamente en la actualidad.
                        </span>
                    </a>
                </div>
            </nav>
        </section>
        <section id="section-usability">
            <div class="pc-box">
                <div class="pc-box-icon  icon-target">
                </div>
                <h4>Directo y sin distracciones</h4>
                <p>
                    Tu sitio tendrá la estructura y distribución adecuada del contenido para que los usuarios puedan acceder fácilmente a ellos y encuentren rápidamente lo que buscan, sin elementos que lo distraigan de su objetivo y obtenga la mejor experiencia al usuarlo.

                </p>
            </div>
            <div class="pc-box">
                <div class="pc-box-icon  icon-cog2">
                </div>
                <h4>Fácil de administrar</h4>
                <p>
                    Administrar tu sitio será tan fácil como actualizar tu estado en Twitter, con una interfáz amigable y sencilla. No necesitarás manual de instrucciones para poder utilizar sus funciones.
                </p>
            </div>
        </section>
        <section id="section-SEO">
            <div class="pc-box">
                <div class="pc-box-icon icon-search">
                </div>
                <h4>Posicionamiento en buscadores</h4>
                <p>
                    SEO (Search Engine Optimization) o Posicionamiento en buscadores está enfocado a la optimización o mejora de las páginas web de modo que obtengan reconocimiento por los buscadores.

                </p>
            </div>
            <div class="pc-box">
                <div class="pc-box-icon icon-bullhorn">
                </div>
                <h4>Muestra tu página al mundo</h4>
                <p>
                    En PlentyCode te ayudamos a optimizar tu sitio web y mantenerlo en las primeras posiciones de las búsquedas relacionadas con los producto e información que manejas, anuncios y campañas en redes sociales.
                </p>
            </div>
        </section>
    </div><!-- /content -->
</div>
