<footer>
    <nav class="plenty-menu menu-bottom">
        <div class="plenty-icon-wrap plenty-icon-effect-7 plenty-icon-effect-7b">
            <a href="#mobile-apps" class="plenty-icon icon-mobile">Mobile Applications</a>
            <a href="#software" class="plenty-icon icon-laptop">Software</a>
            <a href="#home" class="plenty-icon icon-code">Home</a>
            <a href="#web-pages" class="plenty-icon icon-earth">Web Sites</a>
            <a href="#contact-us" class="plenty-icon icon-bubbles">Contact</a>
        </div>

    </nav>
</footer>