<h2 class="plenty-box-title">Contact Us</h2>
<form id="contact-form" class="plenty-form">
    <div class="fields">
        <label>Name</label>
        <input id="contact-name" type="text" placeholder="John Doe" class="required" />
    </div>
    <div class="fields">
        <label>Email</label>
        <input id="contact-email" type="email" name="email" placeholder="jdoe@plentycode.com" class="required">
    </div>

    <div class="fields">
        <label>Leave us your comments</label>
        <textarea id="contact-comments" rows="4" placeholder="Let's work together!" class="required"></textarea>
    </div>
    <div class="fields-bottom">
        <div class="form-message"></div>
        <button type="submit" class="submit-info">Send</button>
    </div>
</form>