<div class="content-well plenty-box-content " data-ng-controller="WebPages as vm">

    <div id="tabs" class="tabs">
        {{$state}}
        <nav>

            <ul>
                <li ng-repeat="item in tabList" ng-class="{'tab-current': item.selected}">
                    <a class="icon-{{item.icon}}" ng-href="#web-pages/{{item.url}}" ui-sref="webpages.item({item:'{{item.url}}'})"><span>{{item.display}}</span></a>
                </li>
            </ul>
        </nav>
        <div class="content" data-ui-view>

        </div>
    </div>
</div>